spring:
  application:
    name: auction-backend

  datasource:
    url: jdbc:mysql://localhost:3306/auction_db
    username: auction_user
    password: auction_pass
    driver-class-name: com.mysql.cj.jdbc.Driver

  graphql:
    graphiql:
      enabled: true

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
